// GRID

@mixin row() {
    
    font-size: 0;
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    max-width: 1250px;
    margin: 0 auto;
    
	 @media only screen and (min-width: 300px) {
        
        padding: 0 2% 0 2%;
    }
	 @media only screen and (min-width: 576px) {
        
        padding: 0 2% 0 2%;
    }
	
    @media only screen and (min-width: 768px) {
        
        padding: 0 3% 0 3%;
    }
    @media only screen and (min-width: 995px) {
        
        padding: 0 5% 0 5%;
    }
    
    @media only screen and (min-width: 1200px) {
        
        padding: 0;
    }
	
	@media only screen and (min-width: 1600px) {
        
        padding: 0;
    }
    
}

@mixin row2() {
    
    font-size: 0;
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    max-width: 1400px;
    margin: 0 auto;
    
	 @media only screen and (min-width: 576px) {
        
        padding: 0 10% 0 10%;
    }
	
    @media only screen and (min-width: 768px) {
        
        padding: 0 10% 0 10%;
    }
    @media only screen and (min-width: 992px) {
        
        padding: 0 5% 0 5%;
    }
    
    @media only screen and (min-width: 1200px) {
        
        padding: 0;
    }
	
	@media only screen and (min-width: 1600px) {
        
        padding: 0;
    }
    
}

@mixin col($col, $sum, $gap: 1em, $align: top) {
    
    width: 100%;
    font-size: 17px;
    display: inline-block;
    vertical-align: $align;
    box-sizing: border-box;
    padding-left: $gap;
    padding-right: $gap;
    
    @media only screen and (min-width: 995px) {
        
        width: percentage($col/$sum);
        vertical-align: $align;
    }
        
} 




