@import 'variable';
@import './partials/buttons.scss';
@import './partials/animations.scss';
@import './partials/typography.scss';
@import './partials/queries.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-family: var(--text-opensans);
  text-align: center;
  overflow-x: hidden;
}
a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: white;
  }
  &:active {
    background: none;
  }
}

.container {
  .h2-sub {
    font-size: 26px;
  }
}

//======= HEADER ======
header {
  div.myLogo {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 100;
    a {
      img {
        width: 125px;
        height: 40px;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        &:hover,
        &:active {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }
  nav {
    * {
      margin: 0;
      padding: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: lighten(#4362ce, 9%);
    transform: translateX(250px);
    transition: transform 0.4s ease;
    a {
      .nav-toggle-btn {
        display: block;
        position: absolute;
        top: 2rem;
        right: calc(250px + 2rem);
        width: 36px;
        height: 36px;
        transition: 0.1s ease-out all;
        &:hover {
          width: 39px;
          height: 39px;
        }
      }
    }
    ul {
      list-style: none;
      li {
        height: 60px;
        line-height: 60px;
        transition: all 0.3s ease-in;
        &:hover {
          background: #4362ce;
          color: white;
        }
        a {
          display: block;
          text-align: center;
          color: #fff;
          font-size: 20px;
        }
      }
    }
    div.soc {
      a {
        img {
          @include soc-img;
          display: block;
          margin-bottom: 1.5rem;
          position: relative;
          top: 0;
          left: 94px;
        }
      }
      margin-top: 4rem;
    }
  }
  @media only screen and (max-width: $xl-screens) {
    div.myLogo {
      a {
        img {
          width: 105px;
        }
      }
    }
    nav {
      ul {
        li {
          height: 50px;
          line-height: 50px;
        }
      }
      div.soc {
        margin-top: 2rem;
      }
    }
  }
  @media only screen and (max-width: $medium-screens) {
    div.myLogo {
      a {
        img {
          width: 90px;
        }
      }
    }
    nav {
      div.soc {
        margin-top: 20rem;
      }
    }
  }
  @media only screen and (max-width: $small-screens) {
    div.myLogo {
      a {
        img {
          width: 75px;
          height: 36px;
        }
      }
    }
    nav {
      a {
        .nav-toggle-btn {
          width: 32px;
          height: 32px;
          &:hover {
            width: 35px;
            height: 35px;
          }
        }
      }
      div.soc {
        margin-top: 5rem;
      }
    }
  }
  @media only screen and (max-width: $tiny-screens) {
    div.myLogo {
      a {
        img {
          width: 70px;
          height: 32px;
        }
      }
    }
    nav {
      div.soc {
        a {
          img {
            width: 47px;
            border-radius: 47px;
            -webkit-border-radius: 47px;
            -moz-border-radius: 47px;
            -ms-border-radius: 47px;
            -o-border-radius: 47px;
          }
        }
      }
    }
  }
}

.active-nav nav {
  transform: translate3d(0, 0, 0);
}

.active-nav #hero,
.active-nav #about,
.active-nav #skills,
.active-nav #services,
.active-nav #portfolio,
.active-nav #contact,
.active-nav footer {
  transform: translateX(-250px);
}

#hero,
#about,
#skills,
#services,
#portfolio,
#contact,
footer {
  transition: all 0.4s ease;
}

//======= HERO ======
#hero {
  @include hero;
  div.container {
    h1.name {
      @include name;
      //margin-top: 11rem;
      letter-spacing: 1px;
    }
    .sub-name {
      @include sub-name;
      .dot {
        animation: blink 1s infinite;
        border-right: 0.3rem solid darken(#fff, 0%);
        padding-right: 0.7rem;
      }
    }
  }
  div.scroll-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    a {
      i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 5.7rem;
        animation: down-arrow 2s infinite;
        -webkit-animation: down-arrow 2s infinite;
      }
    }
    position: absolute;
    bottom: 4rem;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0.02rem);
    z-index: -1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-filter: blur(0.02rem);
  }
}

//====== ABOUT ==========
#about {
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    p.h2-sub {
      @include h2-sub;
    }
    .details {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      .profile {
        img {
          border-radius: 6px;
          border: 4px solid var(--color-one);
          padding: 5px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
        }
        flex: 40%;
        max-width: 40%;
        margin-top: 8rem;
        @include transformToLeft;
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
      }
      .profile[data-scroll='in'] {
        @include transformToLeft-data-scroll;
      }
      .about-text {
        flex: 60%;
        margin-left: 9rem;
        font-size: 1.3em;
        .about-up {
          @include about-up;
          @include transformToLeft;
          text-align: left;
          line-height: 44px;
        }
        .about-up[data-scroll='in'] {
          @include transformToLeft-data-scroll;
        }
        .about-down {
          @include about-down;
          @include transformToLeft;
          text-align: left;
          line-height: 44px;
        }
        .about-down[data-scroll='in'] {
          @include transformToLeft-data-scroll;
        }
        .aboutButtons {
          @include button('btn-violet', var(--color-one));
          @include transformToLeft;
          font-size: 0.8em;
          text-align: left;
        }
        .aboutButtons[data-scroll='in'] {
          @include transformToLeft-data-scroll;
        }
      }
    }
  }
}

//======= SKILLS ===========

#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background: rgba(35, 38, 59, 0.06);
  background: linear-gradient(
    to bottom,
    rgba(80, 86, 135, 0.2),
    rgba(67, 98, 206, 0.1)
  );
  .container {
    h2 {
      color: #000;
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
  }
  .center {
    font-family: cosolas;
    width: 50vw;
    padding: 4rem 5rem 1.4rem;
    margin: 4rem 0rem 7rem;
    background: #23263b;
    background: rgba(128, 145, 207, 0.6);
    border-radius: 6px;
    color: #23263b;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #23263b;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .skillBox {
      float: left;
      box-sizing: border-box;
      width: 100%;
      margin: 28px 0;
      p {
        //color:rgba(0,0,0, 1.0);
        color: darken(#23263b, 20%);
        text-transform: uppercase;
        text-shadow: 0.5px 0.7px;
        margin: 0 0 10px;
        padding: 0;
        font-size: 1.53em;
        font-weight: bolder;
        letter-spacing: 1.5px;
        text-shadow: 1.5px 0.2px;
      }
      p:nth-child(1) {
        float: left;
        position: relative;
        top: -38px;
        font-weight: 700;
      }
      .skill {
        /*background: #4362ce;*/
        background: #fff;
        padding: 3px;
        box-sizing: border-box;
        border: 1px solid #4362ce;
        /*border: 3px solid #23263b;*/
        .skill-level {
          //background:  #4362ce;
          background: none;
          height: 12px;
          transition: 1.5s;
          transform-origin: left;
          transform: scaleX(0);
          -webkit-transition: 1.5s;
          -moz-transition: 1.5s;
          -ms-transition: 1.5s;
          -o-transition: 1.5s;
          transition-delay: 1s;
        }
        .skill-level:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #4362ce;
          transform-origin: right;
          transition-delay: 8s;
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
        }
        .skill-level[data-scroll='in'] {
          transition: 1s ease-in;
          transform: scaleX(1);
          -webkit-transition: 1s ease-in;
          -moz-transition: 1s ease-in;
          -ms-transition: 1s ease-in;
          -o-transition: 1s ease-in;
        }
        /*.skill-level[data-scroll="in"]:before {
					transform: scaleX(0);
					transition-delay: 0.5s;
				}
				*/
        .num1 {
          width: 72%;
        }
        .num2 {
          width: 71%;
        }
        .num3 {
          width: 56%;
        }
        .num4 {
          width: 53%;
        }
        .num5 {
          width: 60%;
        }
        .num6 {
          width: 80%;
        }
      }
    }
  }
}

//========= SERVICES ========
#services {
  color: var(--color-black);
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
  }
  .container:nth-of-type(2) {
    padding: 0;
  }
  .product1,
  .product2,
  .product3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    .product1-text {
      h3 {
        padding-bottom: 40px;
        @include transformToLeft;
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
      }
      h3[data-scroll='in'] {
        @include transformToLeft-data-scroll;
      }
      h3.h3Left {
        @include transformToLeft;
      }
      h3.h3Left[data-scroll='in'] {
        @include transformToLeft-data-scroll;
      }
      .product-text {
        font-size: 22px;
        @include transformToUp;
      }
      .product-text[data-scroll='in'] {
        @include transformToUp-data-scroll;
      }
      .product-text:nth-of-type(2) {
        margin-top: 40px;
      }
      flex: 45%;
      text-align: right;
    }
    .design {
      img {
        width: 82%;
      }
      flex: 50%;
      align-self: flex-end;
    }
  }
  .product2 {
    .product1-text {
      order: 2;
      text-align: left;
    }
    .code {
      img {
        width: 87%;
      }
      flex: 50%;
      align-self: flex-end;
      order: 1;
    }
  }
  .product3 {
    .responsive {
      flex: 50%;
      align-self: flex-end;
      img {
        width: 87%;
      }
    }
  }
}

//====== PORTFOLIO =========
#portfolio {
  width: 100%;
  color: var(--color-black);
  background: linear-gradient(
    to bottom,
    rgba(80, 86, 135, 0.2),
    rgba(67, 98, 206, 0.1)
  );
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
    .product1,
    .product2,
    .product3,
    .product4,
    .product5,
    .product6 {
      a {
        img {
          display: block;
          width: 100%;
          //height: auto;
          transition: 0.8s ease;
        }
        .overlay {
          .text {
            color: darken(#fff, 8%);
            background: rgba(35, 38, 59, 0.4);
            padding: 1rem;
            font-size: 19px;
            margin-top: 19.7rem;
            text-transform: uppercase;
          }
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.8s ease;
          background-color: var(--color-overlay);
          -webkit-transition: 0.8s ease;
          -moz-transition: 0.8s ease;
          -ms-transition: 0.8s ease;
          -o-transition: 0.8s ease;
        }
      }
      .title {
        h5 {
          color: lighten(#23263b, 8%);
          padding-top: 0.5rem;
          font-size: 1.6em;
        }
        p {
          font-size: 1.1em;
          font-weight: 600;
          color: lighten(#23263b, 28%);
          margin-top: 0.7rem;
          margin-bottom: 0.5rem;
        }
        img {
          width: 32px;
          transform: rotate(90deg);
        }
      }
      position: relative;
      overflow: hidden;
      &:hover a .overlay {
        opacity: 1;
        cursor: pointer;
      }
      &:hover .title {
        opacity: 0;
      }
      &:hover a img {
        transform: scale(1.25);
        cursor: pointer;
      }
      border: 2px solid lighten(#23263b, 61%);
      padding: 35px 20px;
      margin-bottom: 4rem;
      background-color: #fff;
      margin: 0rem 10px 3rem;
      //width: 80%;
    }
  }
  .grid-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .container:nth-of-type(2) {
    padding-top: 0;
  }
}

//====== CONTACT =========
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
    div.soc {
      h4 {
        color: var(--color-two);
        letter-spacing: 0rem;
      }
      a {
        img {
          @include soc-img;
          width: calc(53px + 0.7rem);
          margin: 2rem 1rem;
        }
      }
      margin-top: 7rem;
    }
  }
}

//========= FOOTER ===========
footer {
  .container {
    .copy-right {
      font-size: 1em;
    }
    margin: 0;
    padding: 20px 0px;
  }
  @include footer;
}
