@import 'variable';
@import 'grid_system';

body {
  margin: 0;
  padding: 0;
  color: $text-fff;
  font-family: $text-font;
  text-align: center;
}
a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
  }
  &:hover {
  }
}
* {
  margin: 0;
  padding: 0;
}

//======= NAVBAR ======

@include navbar-menu; //=== NAVBAR PROPERTIES(variable.scss) ====

nav {
  //========= RESPONSIVE LINE OF CODES =========
  @include large-screens {
    div.soc {
      margin-top: 2.5rem;
    }
  }
  @include small-screens {
    a .nav-toggle-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 270px;
      width: 31px;
      height: 32px;
      transition: 0.1s ease-out all;
    }
    a .nav-toggle-btn:hover {
      width: 32px;
      height: 33px;
    }
    ul li {
      margin-bottom: -5px;
    }
  }
  @include tiny-screens {
    a .nav-toggle-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 270px;
      width: 27px;
      height: 28px;
      transition: 0.1s ease-out all;
    }

    a .nav-toggle-btn:hover {
      width: 28px;
      height: 29px;
    }
    div.soc {
      a {
        img {
          @include soc-img;
          display: block;
          margin-bottom: 2rem;
          position: relative;
          top: 0;
          left: 94px;
        }
      }
      margin-top: 2.4rem;
    }
  }

  .soc {
    a {
      img {
        @include soc-img;
        display: block;
        margin-bottom: 2rem;
        position: relative;
        top: 0;
        left: 94px;
      }
    }
    margin-top: 7rem;
  }
}

//======== HERO =========
#hero {
  //========= RESPONSIVE LINE OF CODES =========
  @include desktop-screens {
    .container {
      @include row();
      h1.name {
        font-size: 4em;
      }
      h3.sub-name {
        font-size: 2.4em;
      }
      div.scroll {
        margin-top: 15rem;
        p {
          margin-bottom: -28px;
        }
        a {
          img {
            bottom: -3rem;
          }
        }
      }
      position: relative;
    }
    @include hero;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
  }

  @include xl-screens {
    .container {
      @include row();
      h1.name {
        margin-top: -10rem;
        font-size: 2.8em;
      }
      h3.sub-name {
        font-size: 2em;
        padding-bottom: 9rem;
      }
      div.scroll {
        margin-top: 1.5rem;
      }
      position: relative;
      top: -70px;
    }
    @include hero;
    background-size: cover;
    height: 100vh;
  }

  @include large-screens {
    .container {
      @include row();
      h1.name {
        margin-top: -5rem;
        font-size: 2.8em;
      }
      h3.sub-name {
        font-size: 1.5em;
        padding-bottom: 14rem;
      }

      div.scroll {
        margin-top: -4.5rem;
      }
      position: relative;
    }
    @include hero;
    background-size: cover;
    height: 100vh;
  }
  @include medium-screens {
    .container {
      @include row();
      h1.name {
        margin-top: 0rem;
        font-size: 2.8em;
      }
      h3.sub-name {
        font-size: 1.5em;
        padding-bottom: 9rem;
      }
      div.scroll {
        margin-top: -2rem;
        p {
          font-size: 0.8em;
        }
        a {
          img {
            width: 56px;
            height: 34px;
            cursor: pointer;
          }
        }
      }
    }
    @include hero;
    background-size: cover;
    background-attachment: scroll;
    background-position: center bottom;
    height: 100vh;
  }
  @include small-screens {
    .container {
      @include row();
      h1.name {
        margin-top: 0rem;
        font-size: 2.2em;
      }
      h3.sub-name {
        font-size: 1.3em;
      }
      div.scroll {
        margin-top: 2rem;
        p {
          font-size: 0.7em;
        }
        a {
          img {
            width: 54px;
            height: 31px;
            cursor: pointer;
            position: relative;
            top: 20px;
          }
        }
      }
    }
    @include hero;
    background-size: cover;
    background-attachment: scroll;
    background-position: center bottom;
    height: 100vh;
  }
  @include tiny-screens {
    .container {
      @include row();
      h1.name {
        font-size: 2em;
        margin-top: -4rem;
      }
      h3.sub-name {
        font-size: 1.1em;
      }
      div.scroll {
        p {
          font-size: 0.6em;
          margin-bottom: -2.5rem;
        }
        a {
          img {
            width: 41px;
            height: 24px;
            cursor: pointer;
          }
        }
        margin-top: 8rem;
      }
      position: relative;
      top: -60px;
    }
    @include hero;
    background-attachment: scroll;
    height: auto;
  }
  //========= SCSS LINES OF CODE =========
  .container {
    @include row();
    h1.name {
      @include name;
      margin-top: 16rem;
      letter-spacing: 1px;
    }
    .sub-name {
      @include sub-name;
      .txt-type > .txt {
        /*border-right: 0.3rem solid #777;
            padding-right: .7rem;*/
      }
      .dot {
        animation: blink 1s infinite;
        border-right: 0.3rem solid darken($color-fff, 0%);
        padding-right: 0.7rem;
      }
      @keyframes blink {
        to {
          opacity: 0;
        }
      }
    }
    .scroll {
      p {
        @include scroll-text;
      }

      a {
        img {
          width: 91px;
          height: 42px;
          margin-top: 1.5rem;
          cursor: pointer;
        }
      }
    }
    @include col(12, 12);
    position: relative;
  }
  @include hero;
}

#hero::after {
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(0.2rem);
  z-index: -1;
  transform: scale(1.15);
  -webkit-filter: blur(0.2rem);
}

@keyframes hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

//======= ABOUT =======
#about {
  //========= RESPONSIVE LINE OF CODES =========
  @include large-screens {
    @include row();
    .container {
      h2 {
        font-size: 2.2em;
      }
      div.about-text {
        p.about-up {
          font-size: 1.3em;
          margin-top: 10.8rem;
          line-height: 27px;
        }
        p.about-down {
          font-size: 1.3em;
          line-height: 27px;
        }
      }
    }
  }
  @include medium-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.8em;
      }
      div.profile {
        img {
          width: 380px;
          border-radius: 6px;
        }
        @include col(6, 12);
        float: left;
        width: 100%;
        margin-top: 6rem;
      }
      div.about-text {
        p.about-up {
          font-size: 1.3em;
          margin-top: 3rem;
          line-height: 29px;
          text-align: center;
        }
        p.about-down {
          font-size: 1.3em;
          line-height: 29px;
          text-align: center;
        }
        .aboutButtons {
          text-align: center;
          margin-bottom: 2rem;
        }
        width: 520px;
      }
    }
  }
  @include small-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.5em;
      }
      div.profile {
        img {
          width: 60%;
          border-radius: 6px;
        }
        @include col(6, 12);
        float: left;
        margin-top: 6rem;
      }
      div.about-text {
        p.about-up {
          font-size: 1.2em;
          margin-top: 1rem;
          line-height: 29px;
        }
        p.about-down {
          font-size: 1.2em;
          line-height: 29px;
        }
        .aboutButtons {
          text-align: center;
          margin-bottom: 2rem;
        }
        width: 70%;
      }
    }
  }
  @include tiny-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.3em;
      }
      div.profile {
        img {
          width: 100%;
          border-radius: 6px;
        }
        @include col(6, 12);
        float: left;
        margin-top: 4rem;
      }
      div.about-text {
        p.about-up {
          font-size: 1.1em;
          margin-top: 1rem;
          line-height: 28px;
        }
        p.about-down {
          font-size: 1.1em;
          line-height: 28px;
        }
        .aboutButtons {
          text-align: center;
          margin-bottom: 2rem;
          .button1 {
            display: block;
            margin: 0 auto 2rem;
          }
          .button2 {
            display: block;
            margin: 2rem auto 0;
          }
          margin-top: -1rem;
        }
        width: 100%;
      }
      padding-top: 3rem;
    }
    height: auto;
    margin-bottom: -2rem;
  }
  //========= SCSS LINES OF CODE =========
  @include row();
  .container {
    h2 {
      span {
        @include h2-monoton;
      }
      span:nth-of-type(2) {
        @include h2-monoton2;
      }
      @include h2-about;
    }
    .profile {
      img {
        width: 380px;
        border-radius: 6px;
        border: 2px solid lighten($color-primary, 41%);
        padding: 5px;
      }
      @include col(6.6, 12);
      float: left;
      width: 100%;
      margin-top: 8rem;
    }
    .about-text {
      p.about-up {
        @include about-up;
        text-align: left;
        font-size: 1.4em;
        line-height: 34px;
        margin-top: 6.5rem;
      }
      .about-down {
        @include about-down;
        text-align: left;
        font-size: 1.4em;
        line-height: 34px;
      }
      .aboutButtons {
        .button1 {
          position: relative;
          display: inline-block;
          transition: 1s;
          transform: translateX(100px);
          opacity: 0;
          &:hover {
            padding: 11px 20px;
            transition: 0.05s all ease-in;
            opacity: 0.7;
          }
        }
        .button1[data-scroll='in'] {
          transform: translateX(0);
          transition-delay: 0.3s;
          opacity: 1;
        }
        .button2 {
          position: relative;
          display: inline-block;
          transition: 1s;
          transform: translateX(100px);
          opacity: 0;
          &:hover {
            padding: 11px 27px;
            transition: 0.05s padding ease-in;
            opacity: 0.7;
          }
        }
        .button2[data-scroll='in'] {
          transform: translateX(0);
          transition-delay: 0.8s;
          opacity: 1;
        }
        margin-top: 2rem;
        margin-bottom: 6rem;
        text-align: left;
      }
      @include col(5.4, 12);
    }
    @include col(12, 12);
  }
  color: $text-000;
}

//======= SKILLS ===========

#skills {
  //========= RESPONSIVE LINE OF CODES =========
  @include xl-screens {
    .container {
      h2 {
        font-size: 2.2em;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.6em;
      }
    }
    div.center {
      * {
        font-size: 1em;
      }
      width: 50vw;
    }
  }
  @include large-screens {
    .container {
      h2 {
        font-size: 2.1em;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.5em;
      }
    }
    div.center {
      * {
        font-size: 0.9em;
      }
      width: 60vw;
    }
  }
  @include medium-screens {
    .container {
      h2 {
        font-size: 1.7em;
      }
      p.h2-sub {
        font-size: 1.3em;
      }
    }
    div.center {
      * {
        font-size: 0.7em;
      }
      width: 70vw;
    }
  }
  @include small-screens {
    .container {
      h2 {
        font-size: 1.5em;
      }
      p.h2-sub {
        font-size: 1.1em;
      }
    }
    div.center {
      * {
        font-size: 0.7em;
      }
      width: 100vw;
      margin: 2rem 0rem 0rem;
      box-shadow: none;
    }
  }
  @include tiny-screens {
    .container {
      h2 {
        font-size: 1.2em;
        margin-top: -1rem;
      }
      p.h2-sub {
        font-size: 0.9em;
        margin-top: -1rem;
        margin-bottom: -3rem;
      }
    }
    div.center {
      * {
        font-size: 0.45em;
      }
      width: 100vw;
      padding: 4rem 2rem 1.4rem;
    }
  }
  //========= SCSS LINES OF CODE ==============
  //===========================================
  //===========================================
  //========= FLEXBOX FEATURES =========
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background: rgba(35, 38, 59, 0.06);
  background: linear-gradient(
    to bottom,
    rgba(80, 86, 135, 0.2),
    rgba(67, 98, 206, 0.1)
  );
  .container {
    h2 {
      color: #000;
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
    /*=== @include col(12,12); input with grid_system
        or input row() ===*/
  }
  .center {
    font-family: $text-skills;
    width: 50vw;
    padding: 4rem 5rem 1.4rem;
    margin: 4rem 0rem 7rem;
    background: #23263b;
    background: rgba(128, 145, 207, 0.6);
    border-radius: 6px;
    color: #23263b;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #23263b;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .skillBox {
      float: left;
      box-sizing: border-box;
      width: 100%;
      margin: 28px 0;
      p {
        //color:rgba(0,0,0, 1.0);
        color: darken(#23263b, 20%);
        text-transform: uppercase;
        text-shadow: 0.5px 0.7px;
        margin: 0 0 10px;
        padding: 0;
        font-size: 1.55em;
        font-weight: bolder;
        letter-spacing: 1.5px;
        text-shadow: 1.5px 0.2px;
      }
      p:nth-child(1) {
        float: left;
        position: relative;
        top: -38px;
        font-weight: 700;
      }
      p:nth-child(2) {
        float: right;
        position: relative;
        top: -38px;
        font-weight: 700;
      }
      .skill {
        /*background: #4362ce;*/
        background: #fff;
        padding: 3px;
        box-sizing: border-box;
        border: 1px solid #4362ce;
        /*border: 3px solid #23263b;*/
        .skill-level {
          //background:  #4362ce;
          background: none;
          height: 12px;
          transition: 1.5s;
          transform-origin: left;
          transform: scaleX(0);
          -webkit-transition: 1.5s;
          -moz-transition: 1.5s;
          -ms-transition: 1.5s;
          -o-transition: 1.5s;
          transition-delay: 1s;
        }
        .skill-level:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #4362ce;
          transform-origin: right;
          transition-delay: 8s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
        }
        .skill-level[data-scroll='in'] {
          transition: 1s ease-in;
          transform: scaleX(1);
          -webkit-transition: 1s ease-in;
          -moz-transition: 1s ease-in;
          -ms-transition: 1s ease-in;
          -o-transition: 1s ease-in;
        }
        /*.skill-level[data-scroll="in"]:before {
					transform: scaleX(0);
					transition-delay: 0.5s;
				}
				*/
        .num1 {
          width: 72%;
        }
        .num2 {
          width: 71%;
        }
        .num3 {
          width: 56%;
        }
        .num4 {
          width: 53%;
        }
        .num5 {
          width: 60%;
        }
        .num6 {
          width: 80%;
        }
      }
    }
  }
}

//========= EXPERTISE ========
#services {
  //========= RESPONSIVE LINE OF CODES =========
  @include large-screens {
    @include row();
    .container {
      h2 {
        font-size: 2.1em;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.5em;
      }
      @include col(12, 12);
    }
    .product1,
    .product2,
    .product3 {
      @include row2();
      .product1-text {
        h3 {
          font-size: 1.9em;
        }
        p.product-text {
          font-size: 19px;
        }
        .product-text:nth-of-type(2) {
          margin-top: 20px;
        }
        @include col(6, 12);
        text-align: right;
      }
      .design {
        img {
          width: 84%;
          padding-top: 3.2em;
        }
        padding-top: 8.7rem;
      }
      .code {
        img {
          width: 87%;
          padding-top: 2rem;
        }
        padding-top: 12rem;
      }
      .responsive {
        img {
          width: 87%;
          padding-top: 8rem;
        }
        padding-top: 4.3rem;
      }
      margin-top: 4rem;
      margin-bottom: 8rem;
    }
    div.product2 {
      margin-top: -3rem;
    }

    div.product3 {
      margin-top: -3rem;
      margin-bottom: 5rem;
    }
  }

  @include medium-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.9em;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.5em;
      }
      @include col(12, 12);
      margin-bottom: -2rem;
    }
    .product1,
    .product2,
    .product3 {
      @include row2();
      .product1-text {
        h3 {
          font-size: 1.5em;
        }
        p.product-text {
          font-size: 17px;
        }
        p.product-text:nth-of-type(2) {
          margin-top: 10px;
        }
        @include col(6, 12);
        text-align: left;
      }
      .design {
        img {
          width: 84%;
          padding-top: 0em;
          margin-top: 0rem;
        }
        padding-top: 8.7rem;
        margin-top: -3rem;
      }
      .code {
        img {
          width: 87%;
          padding-top: 0rem;
          padding-bottom: 2rem;
        }
        padding-top: 2rem;
      }
      .responsive {
        img {
          width: 87%;
          padding-top: 0rem;
        }
        padding-top: 4.3rem;
      }
      margin-top: 4rem;
      margin-bottom: 8rem;
    }
    div.product1 {
      .product1-text {
        text-align: left;
        float: none;
      }
    }
    div.product2 {
      .product1-text {
        text-align: left;
        float: none;
      }
      .code {
        float: none;
        margin-top: -6rem;
      }
    }
    div.product3 {
      .product1-text {
        margin-top: -2rem;
        text-align: left;
      }
      .responsive {
        margin-top: -1rem;
        margin-bottom: -1rem;
      }
    }
  }
  @include small-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.7em;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.3em;
        margin-bottom: -2rem;
      }
      @include col(12, 12);
      margin-bottom: -2rem;
    }
    .product1,
    .product2,
    .product3 {
      @include row2();
      .product1-text {
        h3 {
          font-size: 1.3em;
          text-align: left;
        }
        p.product-text {
          font-size: 15px;
          text-align: left;
          margin-top: -1rem;
        }
        p.product-text:nth-of-type(2) {
          margin-top: 10px;
        }
        @include col(6, 12);
        text-align: left;
      }
      .design {
        img {
          width: 90%;
          padding-top: 0em;
          margin-top: 0rem;
        }
        padding-top: 8.7rem;
        margin-top: -5rem;
      }
      .code {
        img {
          width: 95%;
          padding-top: 0rem;
          padding-bottom: 0rem;
        }
        padding-top: 2rem;
      }
      .responsive {
        img {
          width: 95%;
          padding-top: 0rem;
        }
        padding-top: 4.3rem;
      }

      margin-top: 4rem;
      margin-bottom: 8rem;
    }
    div.product2 {
      .product1-text {
        text-align: left;
        float: none;
        margin-top: -2rem;
      }
      .code {
        float: none;
        margin-top: -8rem;
      }
    }
    div.product3 {
      .product1-text {
        margin-top: -2rem;
        text-align: left;
      }
      .responsive {
        margin-top: -1rem;
        margin-bottom: -1rem;
      }
    }
  }
  @include tiny-screens {
    @include row();
    .container {
      h2 {
        font-size: 1.4em;
        margin-top: -1.2rem;
      }
      p.h2-sub {
        @include h2-sub;
        font-size: 1.1em;
        margin-top: -1rem;
        margin-bottom: -6rem;
      }
      @include col(12, 12);
      margin-bottom: -2rem;
    }
    .product1,
    .product2,
    .product3 {
      @include row2();
      .product1-text {
        h3 {
          font-size: 1.3em;
          text-align: left;
        }
        p.product-text {
          font-size: 15px;
          text-align: left;
          margin-top: -1rem;
        }
        p.product-text:nth-of-type(2) {
          margin-top: 10px;
        }

        @include col(6, 12);
        text-align: left;
      }
      .design {
        img {
          width: 90%;
          padding-top: 0em;
          margin-top: 0rem;
        }
        padding-top: 8.7rem;
        margin-top: -5rem;
      }
      .code {
        img {
          width: 95%;
          padding-top: 0rem;
          padding-bottom: 0rem;
        }
        padding-top: 2rem;
      }
      .responsive {
        img {
          width: 95%;
          padding-top: 0rem;
        }
        padding-top: 4.3rem;
      }
      margin-top: 4rem;
      margin-bottom: 8rem;
    }
    div.product2 {
      .product1-text {
        text-align: left;
        float: none;
        margin-top: -4rem;
      }
      .code {
        float: none;
        margin-top: -8rem;
      }
    }
    div.product3 {
      .product1-text {
        margin-top: -4.5rem;
        text-align: left;
      }
      .responsive {
        margin-top: -2rem;
        margin-bottom: -5rem;
      }
    }
    height: auto;
  }
  //========= SCSS LINES OF CODE ==============
  @include row();
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
  }
  .product1,
  .product2,
  .product3 {
    @include row2();
    .product1-text {
      h3 {
        position: relative;
        display: inline-block;
        transition: 0.8s ease-in-out;
        transform: translateX(-300px);
        opacity: 0;
        padding-bottom: 40px;
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -ms-transition: 0.8s ease-in-out;
        -o-transition: 0.8s ease-in-out;
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
      }
      h3[data-scroll='in'] {
        transform: translateX(0);
        transition-delay: 0.5s;
        opacity: 1;
      }
      h3.h3Left {
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
      }
      h3.h3Left[data-scroll='in'] {
        transform: translateX(0);
        transition-delay: 0.3s;
        opacity: 1;
      }
      .product-text {
        font-size: 22px;
        position: relative;
        display: inline-block;
        transition: 0.7s ease-out;
        transform: translateY(150px);
        opacity: 0;
        -webkit-transform: translateY(150px);
        -moz-transform: translateY(150px);
        -ms-transform: translateY(150px);
        -o-transform: translateY(150px);
        -webkit-transition: 0.7s ease-out;
        -moz-transition: 0.7s ease-out;
        -ms-transition: 0.7s ease-out;
        -o-transition: 0.7s ease-out;
      }
      .product-text[data-scroll='in'] {
        transform: translateY(0);
        transition-delay: 1.2s;
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
      }
      .product-text:nth-of-type(2) {
        margin-top: 40px;
      }
      @include col(6, 12);
      text-align: right;
    }
    .design,
    .code,
    .responsive {
      @include col(6, 12);
    }
    .design {
      img {
        width: 84%;
      }
      padding-top: 8.7rem;
    }
    .code {
      img {
        width: 87%;
      }
      padding-top: 12rem;
    }
    .responsive {
      img {
        width: 87%;
      }
      padding-top: 4.3rem;
    }
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .product2 {
    .product1-text {
      text-align: left;
      float: right;
    }
    .code {
      float: left;
    }
  }
  .product3 {
    margin-bottom: 5rem;
  }
  color: $text-000;
}

//====== PORTFOLIO =========

#portfolio {
  //========= RESPONSIVE LINE OF CODES =========
  @include large-screens {
    .container {
      h2 {
        font-size: 2.1em;
      }
      .h2-sub {
        @include h2-sub;
        font-size: 1.5em;
      }
    }
  }
  @include medium-screens {
    .container {
      h2 {
        font-size: 1.7em;
      }
      p.h2-sub {
        font-size: 1.3em;
      }
    }
    .container {
      article.product1,
      article.product2,
      article.product3 {
        margin-top: 3rem;
      }

      article.product1,
      article.product2,
      article.product3,
      article.product3,
      article.product4,
      article.product5,
      article.product6 {
        width: 50%;
      }
    }
  }
  @include small-screens {
    .container {
      h2 {
        font-size: 1.5em;
      }
      p.h2-sub {
        font-size: 1.1em;
      }
    }
    .container {
      article.product1,
      article.product2,
      article.product3 {
        margin-top: 3rem;
      }
      article.product1 {
        margin-top: 0rem;
      }
      article.product1,
      article.product2,
      article.product3,
      article.product3,
      article.product4,
      article.product5,
      article.product6 {
        width: 60%;
        .overlay {
          display: none;
        }
        .title {
          img {
            width: 24px;
          }
        }
        &:hover .title {
          opacity: 1;
        }
        &:hover a img {
          transform: scale(1);
          cursor: pointer;
          height: 90%;
        }
      }
    }
  }
  @include tiny-screens {
    .container {
      h2 {
        font-size: 1.2em;
        margin-top: -1rem;
      }
      p.h2-sub {
        font-size: 0.9em;
        margin-top: -1rem;
        margin-bottom: -3rem;
      }
    }
    .container {
      article.product1,
      article.product2,
      article.product3 {
        margin-top: 2rem;
      }

      article.product1 {
        margin-top: 0rem;
      }

      article.product1,
      article.product2,
      article.product3,
      article.product3,
      article.product4,
      article.product5,
      article.product6 {
        width: 90%;
        .title {
          h5 {
            font-size: 1.4em;
          }
          p {
            font-size: 1em;
          }
          img {
            width: 24px;
          }
        }
        margin-top: 2rem;
      }
    }
    height: auto;
  }
  //========= SCSS LINES OF CODE ==============
  .container {
    h2 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
    }
    margin-bottom: -1rem;
  }
  .container {
    .product1,
    .product2,
    .product3,
    .product4,
    .product5,
    .product6 {
      a {
        img {
          display: block;
          width: 100%;
          height: auto;
          transition: 0.8s ease;
        }
        .overlay {
          .text {
            color: darken($text-fff, 8%);
            background: rgba(35, 38, 59, 0.4);
            padding: 1rem;
            font-size: 19px;
            margin-top: 19.7rem;
            text-transform: uppercase;
          }
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.8s ease;
          background-color: $color-overlay;
        }
      }
      .title {
        h5 {
          color: lighten($color-primary, 8%);
          padding-top: 0.5rem;
          font-size: 1.6em;
        }
        p {
          font-size: 1.1em;
          font-weight: 600;
          color: lighten($color-primary, 28%);
          margin-top: 0.7rem;
          margin-bottom: 0.5rem;
        }
        img {
          width: 32px;
          transform: rotate(90deg);
        }
      }
      @include col(3, 12);
      position: relative;
      overflow: hidden;
      &:hover a .overlay {
        opacity: 1;
        cursor: pointer;
      }
      &:hover .title {
        opacity: 0;
      }
      &:hover a img {
        transform: scale(1.25);
        cursor: pointer;
        height: 90%;
      }
      border: 2px solid lighten($color-primary, 61%);
      padding: 35px 20px;
      margin-bottom: 4rem;
      background-color: #fff;
      margin: 0rem 10px 3rem;
      width: 80%;
      //box-shadow: 4px 6px 18px $color-primary;
      //border-radius: 10px;
    }
    .product2,
    .product5 {
      padding-bottom: 35px;
    }
    .product4,
    .product5,
    .product6 {
      margin-top: 3rem;
    }
  }
  color: $text-000;
  background: linear-gradient(
    to bottom,
    rgba(80, 86, 135, 0.2),
    rgba(67, 98, 206, 0.1)
  );
}
//======= EMAIL =======
.email {
  //========= RESPONSIVE LINE OF CODES =========
  @include large-screens {
    .container {
      h3 {
        font-size: 1.9em;
      }
      .h2-sub {
        @include h2-sub;
        font-size: 1.5em;
      }
    }
  }
  @include medium-screens {
    .container {
      h3 {
        font-size: 1.5em;
      }
      p.h2-sub {
        font-size: 1.2em;
      }
      div.soc {
        h5 {
          margin-bottom: 3rem;
        }
        a {
          img {
            margin: 0px 20px;
          }
        }
      }
    }
  }
  @include small-screens {
    .container {
      h3 {
        font-size: 1.3em;
      }
      p.h2-sub {
        font-size: 1em;
      }
      div.soc {
        h5 {
          margin-bottom: 3rem;
        }
        a {
          img {
            margin: 0px 20px;
          }
        }
        margin-top: 3rem;
      }
    }
  }
  @include tiny-screens {
    .container {
      h3 {
        font-size: 1.1em;
      }
      p.h2-sub {
        font-size: 0.8em;
      }
      div.soc {
        h5 {
          margin-bottom: 3rem;
          font-size: 1em;
        }
        a {
          img {
            margin: 0px 15px;
          }
        }
        margin-top: 3rem;
        margin-bottom: -1rem;
      }
    }
    height: auto;
  }
  //========= SCSS LINES OF CODE ==============
  .container {
    h3 {
      span {
        @include h2-span;
      }
    }
    .h2-sub {
      @include h2-sub;
      font-size: 28px;
      color: darken($color-fff, 25%);
    }
    .soc {
      h5 {
        color: darken($color-fff, 14%);
      }
      a {
        img {
          @include soc-img;
          margin-top: 2rem;
          width: 51px;
        }
      }
      margin-top: 5rem;
    }
    margin: 0;
    padding: 60px 0px 70px;
  }
  background: #303452;
}

//========= FOOTER ===========
footer {
  //========= RESPONSIVE LINE OF CODES =========
  @include medium-screens {
    .container {
      p.copy-right {
        font-size: 0.9em;
      }
    }
  }
  @include small-screens {
    .container {
      p.copy-right {
        font-size: 0.8em;
      }
    }
  }
  //========= SCSS LINES OF CODE ==============
  .container {
    .copy-right {
      font-size: 1em;
      letter-spacing: 0.5px;
    }
    margin: 0;
    padding: 20px 0px;
  }
  @include footer;
}
