@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,800&subset=cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Monoton");
.btn-violet {
  width: 140px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: relative;
  background-color: var(--color-two);
  color: #a8b6e8;
  border: 6px solid var(--color-one);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn-violet:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-one);
  z-index: -1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  filter: blur(0);
  -webkit-filter: blur(0);
}

.btn-violet:hover {
  color: #fff;
  background-color: var(--color-one);
}

.btn-violet:hover:before {
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

@-webkit-keyframes down-arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }
}

@keyframes down-arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }
}

@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

/*=== INITIAL TYPOGRAPHY===*/
:root {
  --color-one: #4362ce;
  --color-two: #23263b;
  --color-white: #fff;
  --color-black: #000;
  --color-overlay: rgba(67, 98, 206, 0.8);
  --color-bg: rgba(80, 86, 135, 0.1);
  --text-opensans: 'Open Sans', sans-serif;
  --text-monoton: 'Monoton', cursive;
  --text-consolas: consolas;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

/* Default: 

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; } 
h6 { font-size: 10px; }

*/
h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
}

.container {
  width: 1250px;
  margin: 0 auto;
  padding: 6rem 0;
  font-size: 1.3em;
}

.cf::after {
  display: table;
  content: '';
  clear: both;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/*
.button1 {
  background: $color-primary;
  color: $text-fff;
  padding: 12px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  margin-right: 15px;
  transition: 0.4s ease-in all;
  -webkit-transition: 0.4s ease-in all;
  -moz-transition: 0.4s ease-in all;
  -ms-transition: 0.4s ease-in all;
  -o-transition: 0.4s ease-in all;
  &:hover {
    background: $color-secondary;
  }
}

.button2 {
  background: $color-primary;
  color: $text-fff;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 6px;
  margin-left: 15px;
  transition: 0.4s ease-in all;
  -webkit-transition: 0.4s ease-in all;
  -moz-transition: 0.4s ease-in all;
  -ms-transition: 0.4s ease-in all;
  -o-transition: 0.4s ease-in all;
  &:hover {
    background: $color-secondary;
  }
}
*/
/*# sourceMappingURL=variable.css.map */