@import './partials/buttons.scss';
@import './partials/animations.scss';
@import './partials/typography.scss';


//========= HERO =======
@mixin hero {
  width: 100%;
  height: 100vh;
  background: url('../image/hero-image3.png') center/cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: hue 10s infinite alternate;
  -webkit-animation: hue 10s infinite alternate;
}

@mixin name {
  text-shadow: 2px 0.2px;
  color: var(--color-white);
}

@mixin sub-name {
  font-family: var(--text-consolas);
  font-size: 1.7em;
  //color: darken($text-fff, 33%);
  color: darken(#fff, 0%);
  text-transform: uppercase;
}

@mixin scroll-text {
  font-family: $text-font;
  text-transform: uppercase;
  color: lighten(rgba(128, 145, 207, 0.9), 29%);
  border-radius: 5px;
  letter-spacing: 0.4px;
  font-weight: 800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

//====== ABOUT ==========

@mixin h3-about {
  font-family: var(--text-monoton);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: -1.2rem;
}

@mixin h3-monoton {
  background: var(--color-one);
  color: var(--color-white);
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0.5rem;
}

@mixin h3-monoton2 {
  background: var(--color-two);
  color: var(--color-white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0.5rem;
  margin-right: 0;
}

@mixin about-up {
  font-weight: 600;
  margin-top: 5rem;
  padding-top: 1.5em;
}

@mixin about-down {
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
/*
.button1 {
  background: $color-primary;
  color: $text-fff;
  padding: 12px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  margin-right: 15px;
  transition: 0.4s ease-in all;
  -webkit-transition: 0.4s ease-in all;
  -moz-transition: 0.4s ease-in all;
  -ms-transition: 0.4s ease-in all;
  -o-transition: 0.4s ease-in all;
  &:hover {
    background: $color-secondary;
  }
}

.button2 {
  background: $color-primary;
  color: $text-fff;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 6px;
  margin-left: 15px;
  transition: 0.4s ease-in all;
  -webkit-transition: 0.4s ease-in all;
  -moz-transition: 0.4s ease-in all;
  -ms-transition: 0.4s ease-in all;
  -o-transition: 0.4s ease-in all;
  &:hover {
    background: $color-secondary;
  }
}
*/

@mixin h2-span {
  padding: 1px 4px;
  background: var(--color-one);
  color: var(--color-white);
}

@mixin h2-sub {
  font-size: 26px;
  font-style: italic;
  padding-top: 2rem;
  color: #000;
  text-align: center;
}

//======= PORTFOLIO ========

//========= FOOTER =====
@mixin footer {
  background: #23263b;
}

@mixin soc-img {
  background: rgba(255, 255, 255, 0.8);
  margin-right: 7px;
  margin-left: 7px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 53px;
  border-radius: 53px;
  -webkit-border-radius: 53px;
  -moz-border-radius: 53px;
  -ms-border-radius: 53px;
  -o-border-radius: 53px;
  &:hover {
    transition: 0.3s all;
    transform: scale(2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
  }
}
