//========= Media queries =======
$tiny-screens: 560px;
$small-screens: 768px;
$medium-screens: 995px;
$large-screens: 1200px;
$xl-screens: 1400px;

@media only screen and (max-width: $xl-screens) {
  .container {
    width: 90%;
    padding: 4rem 0;
  }
  section#hero {
    div.container {
      h1.name {
        font-size: 2.6em;
      }
      div.scroll-down {
        margin-top: 5rem;
      }
    }
  }
  section#about {
    .container {
      div.details {
        div.profile {
          margin-top: 6rem;
        }
        div.about-text {
          margin-left: 6rem;
        }
      }
    }
  }
  section#services {
    .container:nth-of-type(2) {
      .text1 {
        .product1-text {
          h3 {
            font-size: 1.8em;
          }
        }
      }
    }
  }
  * {
    .container {
      h2 {
        font-size: 2.2em;
      }
    }
  }
}
