//========= Media queries =======
$tiny-screens: 560px;
$small-screens: 768px;
$medium-screens: 995px;
$large-screens: 1200px;
$xl-screens: 1400px;

//========= xl-screens =======
@media only screen and (max-width: $xl-screens) {
  .container {
    width: 90%;
    padding: 4rem 0;
    h2 {
      font-size: 2.2em;
    }
  }
  section#hero {
    div.container {
      h1.name {
        font-size: 2.6em;
      }
    }
  }
  section#about {
    .container {
      div.details {
        div.profile {
          margin-top: 6rem;
        }
        div.about-text {
          margin-left: 6rem;
          .about-up {
            margin-top: 7rem;
          }
        }
      }
    }
  }
  section#services {
    .container:nth-of-type(2) {
      .text1 {
        .product1-text {
          h3 {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
//========= large-screens =======
@media only screen and (max-width: $large-screens) {
  section#about {
    .container {
      div.details {
        div.profile {
          margin-top: 5rem;
        }
        div.about-text {
          font-size: 1.2em;
          margin-left: 4rem;
          .about-up {
            margin-top: 5.6rem;
            line-height: 36px;
          }
          .about-down {
            margin-top: 2rem;
            margin-bottom: 3rem;
            line-height: 36px;
          }
          .aboutButtons {
            a.btn-violet {
              width: 120px;
              height: 40px;
            }
          }
        }
      }
    }
  }
  section#services {
    .container:nth-of-type(2) {
      .text1 {
        .product1-text {
          h3 {
            font-size: 1.6em;
          }
        }
      }
    }
  }
  section#skills {
    .center {
      width: 60vw;
    }
  }
  * {
    .container {
      h2 {
        font-size: 2em;
      }
    }
  }
}
//========= medium-screens =======
@media only screen and (max-width: $medium-screens) {
  section#hero {
    div.container {
      h1.name {
        font-size: 2.6em;
      }
    }
  }
  section#about {
    .container {
      div.details {
        div.profile {
          margin-top: 6rem;
        }
        div.about-text {
          font-size: 1.1em;
          margin-left: 3rem;
          .about-up {
            margin-top: 6rem;
            line-height: 29px;
          }
          .about-down {
            margin-top: 1rem;
            margin-bottom: 2rem;
            line-height: 29px;
          }
        }
      }
    }
  }
  section#skills {
    .center {
      width: 80vw;
    }
  }
  * {
    .container {
      h2 {
        font-size: 1.8em;
      }
      .h2-sub {
        margin-top: 0.2rem;
      }
    }
  }
}
//========= small-screens =======
@media only screen and (max-width: $small-screens) {
  .container {
    width: 80%;
    padding: 3rem 0;
    h2 {
      font-size: 1.6em;
    }
    p.h2-sub {
      font-size: 1.1em;
    }
  }
  section#hero {
    div.scroll-down {
      a {
        i {
          font-size: 4rem;
        }
      }
    }
  }
  section#about {
    .container {
      div.details {
        .profile {
          transform: translateX(300px);
          -webkit-transform: translateX(300px);
          -moz-transform: translateX(300px);
          -ms-transform: translateX(300px);
          -o-transform: translateX(300px);
        }
        flex-direction: column;
        div.about-text {
          margin-left: 0;
          .about-up {
            margin-top: 3rem;
            line-height: 29px;
          }
          .about-down {
            margin-top: 3rem;
            margin-bottom: 3rem;
            line-height: 29px;
          }
        }
      }
    }
  }
  section#skills {
    .center {
      width: 80vw;
      padding: 4rem 3rem;
      margin: 2rem 0rem 5rem;
      .skillBox {
        margin: 24px 0;
        p {
          font-size: 1.3em;
        }
      }
      .skillBox:nth-of-type(6) {
        margin-bottom: 0;
      }
    }
  }
  section#services {
    .container:nth-of-type(2) {
      .product1,
      .product2,
      .product3 {
        flex-direction: column;
        margin-bottom: 4rem;
        .product1-text {
          text-align: left;
          margin-bottom: 3rem;
          h3 {
            padding-bottom: 25px;
          }
          .product-text {
            font-size: 20px;
          }
        }
      }
      .product2 {
        .product1-text {
          order: 1;
        }
        .code {
          order: 2;
        }
      }
      .text1 {
        .product1-text {
          h3 {
            font-size: 1.4em;
          }
        }
      }
    }
  }
  section#portfolio {
    .grid-container {
      width: 60vw;
    }
  }
  section#contact {
    .container {
      div.soc {
        h4 {
          font-size: 1.4em;
        }
      }
    }
  }
}
//========= tiny-screens =======
@media only screen and (max-width: $tiny-screens) {
  .container {
    width: 90%;
    padding: 3rem 0;
    h2 {
      font-size: 1.4em;
    }
    p.h2-sub {
      font-size: 1em;
    }
  }
  section#hero {
    div.container {
      h1.name {
        font-size: 2.2em;
      }
      .sub-name {
        font-size: 1.2em;
      }
    }
  }
  section#about {
    .container {
      div.details {
        justify-content: center;
        overflow: hidden;
        .profile {
          flex: 100%;
          max-width: 100%;
          img {
            border: none;
            padding: 0;
          }
        }
        div.about-text {
          .aboutButtons {
            a.btn-violet {
              width: 110px;
              height: 32px;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  section#skills {
    .center {
      width: 90vw;
      padding: 4rem 1rem;
      .skillBox {
        margin: 20px 0;
        p {
          font-size: 1.2em;
        }
      }
    }
  }
  section#services {
    .container:nth-of-type(2) {
      .text1 {
        .product1-text {
          h3 {
            font-size: 1.2em;
          }
        }
      }
    }
  }
  section#portfolio {
    .grid-container {
      width: 90vw;
      .product1,
      .product2,
      .product3,
      .product4,
      .product5,
      .product6 {
        .title {
          h5 {
            font-size: 1.3em;
          }
          p {
            font-size: 1em;
          }
          img {
            width: 26px;
          }
        }
      }
    }
  }
  section#contact {
    .container {
      div.soc {
        margin-top: 5rem;
        h4 {
          font-size: 1.2em;
        }
        a {
          img {
            width: calc(40px + 0.7rem);
            margin: 1.5rem 0.8rem;
          }
        }
      }
    }
  }
}
